USE [tempExcel]
GO
BEGIN
    DECLARE @DIAX TCRBKT_ENDASTUNIKAARENDEN
    INSERT
    INTO @DIAX
    SELECT DIARIENUMMER
    FROM TEMPEXCEL.DBO.[påminnelse-12-mån-2020_1]
    DECLARE @DIAKIR HANDELSETABLETYPE

    INSERT
    INTO @DIAKIR (DIARIENUMMER, FASTIGHET, RUBRIK, DATUM)
    SELECT *, '', 2020 - 10 - 10
    FROM TEMPEXCEL.DBO.[påminnelse-12-mån-2020_1]
    EXEC
		Cp_Forbud1Utsok
		@DIAX,
		@DIAKIR
END