:r FilterByHendelse/(header)TableType.sql
:r FilterByHendelse/CreateVisionAdresser.sql
:r FilterByHendelse/CreateFnrToAdress.sql
:r FilterByHendelse/CreateTypeEndastUnikaArenden.sql

/****** Object:  StoredProcedure [dbo].[Cp_Forbud1Utsok]    Script Date: 2020-04-28 16:19:49 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE CP_FORBUD1UTSOK(@MASTER DBO.TT_ENDASTUNIKAARENDEN READONLY, @DIAKIR HANDELSETABLETYPE READONLY) AS
BEGIN
    -- declaration --
    DECLARE @ARENDEKONTAKTER AS KONTAKTUPGTABLETYPE;
    DECLARE @FILTRARENDELATESTKONTAKT AS HANDELSETABLETYPE;
    DECLARE @HANDELSEKONTAKTER AS DBO.KONTAKTUPGTABLETYPE;
    DECLARE @KIRENRICHEDVISION AS KONTAKTUPGTABLETYPE;
    DECLARE @KONUPGTOADR AS KONTAKTUPGTABLETYPE;
    DECLARE @HANDELSERBYMASTERLIST AS HANDELSETABLETYPE;
    DECLARE @IDPEOPLE TABLE (FASTIGHET    NVARCHAR(100),FNR          INT,DATUM        DATE DEFAULT getDate(), ANDEL        FLOAT DEFAULT 1.0,PERSORGNR    NVARCHAR(100), NAMN         NVARCHAR(100),DIARIENUMMER NVARCHAR(30))
    DECLARE @IDADRESS TABLE (PERSORGNR NVARCHAR(100), ADRESS NVARCHAR(MAX), POSTNR NVARCHAR(100), POSTORT NVARCHAR(100)) --DECLARE @FIRRAW TABLE (DIARIENUMMER NVARCHAR(30), FASTIGHET    NVARCHAR(100), FNR          INT, DATE         DATE DEFAULT getDate(), ANDEL        FLOAT DEFAULT 1.0, PERSORGNR    NVARCHAR(100), NAMN         NVARCHAR(100), FAL_CO       NVARCHAR(100), FAL_UTADR1   NVARCHAR(100), FAL_UTADR2   NVARCHAR(100), FAL_POSTNR   NVARCHAR(100), FAL_POSTORT  NVARCHAR(100), SAL_CO       NVARCHAR(100), SAL_UTADR1   NVARCHAR(100), SAL_UTADR2   NVARCHAR(100), SAL_POSTNR   NVARCHAR(100), SAL_POSTORT  NVARCHAR(100), UA_UTADR1    NVARCHAR(100), UA_UTADR2    NVARCHAR(100), UA_UTADR3    NVARCHAR(100), UA_UTADR4    NVARCHAR(100), UA_LAND      NVARCHAR(100))


    IF OBJECT_ID('tempdb..#ArendeNr') IS NOT NULL DROP TABLE #ARENDENRCREATE TABLE #ARENDENR (DIANRX NVARCHAR(30))
    INSERT #ARENDENR
	EXEC DBO.fn_xScalarDiaToTableDia @MASTER

    -- initialization --
    INSERT INTO @ARENDEKONTAKTER (DIARIENUMMER, FNR, HÄNDELSEDATUM, NAMN, POSTNUMMER, POSTORT, GATUADRESS, PERSONNR) SELECT X.DIANRX, max(INTDIARIENUMMERLOEPNUMMER), max(RECENSTAKAKONTAKTID), STRVISASSOM, STRPOSTNUMMER, STRPOSTORT, STRGATUADRESS, VKVIEW.STRORGINISATIONPERSONNUMMER FROM TEMPEXCEL.DBO.VISIONKONTAKTER VKVIEW RIGHT OUTER JOIN #ARENDENR X ON VKVIEW.STRDIARIENUMMER = X.DIANRX WHERE VKVIEW.INTDIARIENUMMERLOEPNUMMER IS NULL GROUP BY X.DIANRX, STRVISASSOM, STRPOSTNUMMER, STRPOSTORT, STRGATUADRESS, VKVIEW.STRORGINISATIONPERSONNUMMER
    PRINT concat(@@ROWCOUNT, ' @ArendeKontakter')

    INSERT INTO @HANDELSEKONTAKTER (DIARIENUMMER, FNR, HÄNDELSEDATUM, NAMN, POSTNUMMER, POSTORT, GATUADRESS, PERSONNR)
    SELECT X.DIANRX, max(INTDIARIENUMMERLOEPNUMMER), max(RECENSTAKAKONTAKTID), STRVISASSOM, STRPOSTNUMMER, STRPOSTORT, STRGATUADRESS, VKVIEW.STRORGINISATIONPERSONNUMMER FROM TEMPEXCEL.DBO.VISIONKONTAKTER VKVIEW RIGHT OUTER JOIN#ARENDENR X ON VKVIEW.STRDIARIENUMMER = X.DIANRX WHERE VKVIEW.INTDIARIENUMMERLOEPNUMMER IS NOT NULL GROUP BY X.DIANRX, STRVISASSOM, STRPOSTNUMMER, STRPOSTORT, STRGATUADRESS,VKVIEW.STRORGINISATIONPERSONNUMMER
    PRINT concat(@@ROWCOUNT, '@handelsekontakter')

    -- filtration by diarienummer--

    INSERT INTO @FILTRARENDELATESTKONTAKT (DIARIENUMMER, FASTIGHET, ÄRENDEMENING, TEXT, RUBRIK, RIKTNING, DATUM, ARENDEKOMMENTAR)
    SELECT XCHECKTHATITSNOTBADHADELSENA.DIARIENUMMER, XCHECKTHATITSNOTBADHADELSENA.FASTIGHET, XCHECKTHATITSNOTBADHADELSENA.ÄRENDEMENING, XCHECKTHATITSNOTBADHADELSENA.TEXT, XCHECKTHATITSNOTBADHADELSENA.RUBRIK, XCHECKTHATITSNOTBADHADELSENA.RIKTNING, XCHECKTHATITSNOTBADHADELSENA.DATUM, XCHECKTHATITSNOTBADHADELSENA.ARENDEKOMMENTAR FROM [tempExcel].[dbo].sp_xCheckThatItsNotBadHadelseNa(@DIAKIR) XCHECKTHATITSNOTBADHADELSENA INNER JOIN usp_xFilterByHasArende(@DIAKIR) Q ON Q.ID = XCHECKTHATITSNOTBADHADELSENA.ID INNER JOIN DBO.sp_xFilterSenasteMedKon(@DIAKIR) Y ON XCHECKTHATITSNOTBADHADELSENA.ID = Y.ID

    PRINT concat(@@ROWCOUNT, '@filtrArendeLatestKontakt')
    --select fastighet '@filtrArendeLatestKontakt' from @filtrArendeLatestKontakt
    INSERT INTO @HANDELSERBYMASTERLIST (DIARIENUMMER, FASTIGHET, ÄRENDEMENING, TEXT, RUBRIK, RIKTNING, DATUM, ARENDEKOMMENTAR)
    SELECT DISTINCT V.DIANRX, Y.FASTIGHET, Y.ARENDEKOMMENTAR, Y.TEXT, isnull(V.RUBRIK, ''), Y.RIKTNING, isnull(V.DATUM, GETDATE()), Y.ARENDEKOMMENTAR FROM @FILTRARENDELATESTKONTAKT Y RIGHT OUTER JOIN(SELECT #ARENDENR.DIANRX, Q.DATUM, Q.RUBRIK, Q.FASTIGHET FROM #ARENDENR LEFT OUTER JOIN @DIAKIR Q ON #ARENDENR.DIANRX = Q.DIARIENUMMER) V ON V.DIANRX = Y.DIARIENUMMER
    PRINT concat(@@ROWCOUNT, '@FilteredByMaster')
    --select fastighet '@FilteredByMaster' from @FilteredByMaster

    DECLARE @UNIONOFADRESSES AS KONTAKTUPGTABLETYPE
    INSERT INTO @UNIONOFADRESSES(DIARIENUMMER, FNR, HÄNDELSEDATUM, NAMN, POSTNUMMER, POSTORT, GATUADRESS,PERSONNR)
    SELECT KIR.DIARIENUMMER, KIR.FNR, HÄNDELSEDATUM, NAMN, DBO.udf_xGetNumeric(POSTNUMMER) POSTNUMMER, POSTORT, GATUADRESS, PERSONNR FROM (SELECT *,POSTNUMMER FROM @HANDELSEKONTAKTER H UNION SELECT *, POSTNUMMER FROM @ARENDEKONTAKTER A) HANAR

    INSERT INTO @KIRENRICHEDVISION (FASTIGHET, DIARIENUMMER, FNR, HÄNDELSEDATUM, NAMN, POSTNUMMER, POSTORT, GATUADRESS, PERSONNR)
    SELECT KIRENRICHMENT.FASTIGHET, HANAR.DIARIENUMMER, HANAR.FNR, HANAR.HÄNDELSEDATUM, HANAR.NAMN, HANAR.POSTNUMMER, HANAR.POSTORT, HANAR.GATUADRESS, HANAR.PERSONNR FROM DBO.sp_FirKomplete(@UNIONOFADRESSES) HANAR LEFT OUTER JOIN DBO.sp_xKirToFnr(@HANDELSERBYMASTERLIST) KIRENRICHMENT ON KIRENRICHMENT.DIARIENUMMER = HANAR.DIARIENUMMER WHERE HANAR.FNR IS NOT NULL

-- Mainprocess --
    INSERT INTO @IDPEOPLE (DIARIENUMMER, FASTIGHET, FNR, PERSORGNR, NAMN)
    SELECT DIARIENUMMER, FASTIGHET, FNR, PERSONNR, NAMN FROM @KIRENRICHEDVISION GROUP BY DIARIENUMMER, FASTIGHET, FNR, PERSONNR, NAMN
    -- filter by adress --

    INSERT INTO @IDADRESS
    SELECT PERSORGNR, ADRESS, POSTNR POSTNR, FAL_POSTORT POSTORT FROM (SELECT PERSORGNR , ADRESS, POSTNR, FAL_POSTORT, row_number() OVER (PARTITION BY PERSORGNR ORDER BY ADRESS, POSTNR, FAL_POSTORT ) PRIOCOLUMN FROM (SELECT *FROM (SELECT PERSORGNR, ADRESS, POSTNR, FAL_POSTORT FROM DBO.sp_xFirMinimized(@DIAKIR)UNION SELECT PERSONNR, GATUADRESS, POSTNUMMER, POSTORT FROM @KONUPGTOADR) MINNIMERADADRESS WHERE (POSTNR BETWEEN 10000 AND 31999 OR POSTNR BETWEEN 33000 AND 47999 OR POSTNR BETWEEN 50000 AND 98999)) FILTEREDPOSTALNR GROUP BY PERSORGNR, ADRESS, POSTNR, FAL_POSTORT) GROUPED WHERE PRIOCOLUMN = 1

    -- statistics and output --

    DECLARE @TILLMINAMEDELANDEN AS INTEGER DECLARE @STATESTIKUTSKICK AS INTEGER DECLARE @ANTALARENDEN AS INTEGER
    DECLARE @ATTKORRIGERA AS INTEGER SELECT DIARIENUMMER FROM @MASTER GROUP BY DIARIENUMMER
    SET @ANTALARENDEN = @@rowcount

    IF OBJECT_ID('tempdb..#handelsekontakter') IS NOT NULL DROP TABLE #TEMPTABLE
    CREATE TABLE #TEMPTABLE (NAMN       NVARCHAR(255), GATUADRESS NVARCHAR(255), PERSONR    BIGINT NOT NULL, POSTORT    NVARCHAR(255), POSTNR     NVARCHAR(255))
    INSERT INTO #TEMPTABLE
    SELECT NAMN, ADRESS, DBO.udf_xGetNumeric(I.PERSORGNR) PERSONR, A.POSTORT, A.POSTNR FROM @IDADRESS A JOIN @IDPEOPLE I ON I.PERSORGNR = A.PERSORGNR SELECT max(NAMN)                                   NAMN, max(ADRESS)                                 ADRESS, max(POSTNR)                                 POSTNUMMER, max(POSTORT)                                POSTORT, CASE WHEN max(AX) = 1 THEN PERSONNUMMER END PERSONNUMMER, CASE WHEN max(AX) = 2 THEN PERSONNUMMER END ORGANISATIONSNUMMER FROM (SELECT NAMN, GATUADRESS                                                                           ADRESS, POSTORT, POSTNR, CASE WHEN (PERSONR >= 190001010000 AND PERSONR <= 202001010000) THEN 1 ELSE 2 END AS AX, PERSONR                                                                              PERSONNUMMER FROM #TEMPTABLE A) YUYU GROUP BY PERSONNUMMER SET @TILLMINAMEDELANDEN = @@rowcount

    SELECT 'ToPrint' A, DIARIENUMMER, FASTIGHET, NAMN, ADRESS, A.POSTNR, A.POSTORT, I.PERSONNR FROM @IDADRESS A JOIN (SELECT * FROM DBO.sp_xKonUpgToAdr(@KIRENRICHEDVISION) WHERE NULLIF(PERSONNR, '') IS NOT NULL) I ON I.PERSONNR = A.PERSORGNR ORDER BY I.PERSONNR

    SET @STATESTIKUTSKICK = @@rowcount

    SELECT 'ToCorrect' A, X.DIARIENUMMER, FASTIGHET, NAMN, GATUADRESS, POSTNUMMER, POSTORT FROM @KIRENRICHEDVISION X LEFT OUTER JOIN (SELECT DIARIENUMMER FROM @IDADRESS A JOIN @IDPEOPLE I ON I.PERSORGNR = A.PERSORGNR) RESS ON RESS.DIARIENUMMER = X.DIARIENUMMER WHERE RESS.DIARIENUMMER IS NULL SET @ATTKORRIGERA = @@rowcount

    SELECT @STATESTIKUTSKICK, 'statestikUtskick'
    UNION
    SELECT @TILLMINAMEDELANDEN, 'statestiTillMinaMedelanden'
    UNION
    SELECT @ANTALARENDEN, 'antalArenden'
    UNION
    SELECT @ATTKORRIGERA, 'attKorrigera'

END;
GO
